*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    background: linear-gradient(to right bottom, red , purple);
    height: 100vh;
    width: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.gameArea{
    background-color: blue;
    width: 70%;
    height: 30rem;
    display: flex;
    flex-direction: row;
    position: relative;
}
.gameArea div {
    flex: 50%;
}
.players{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.player1{
    background: linear-gradient(to right bottom, rgb(235, 199, 199) , rgb(219, 56, 219)); 

}
.player2{
    background: linear-gradient(to right bottom, rgb(235, 199, 199) , rgb(219, 56, 56));
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.section2 h5 {
    background: linear-gradient(to right bottom, rgb(235, 199, 199) , rgb(219, 56, 56));
    border: 2px solid black;
    border-radius: 0.2rem;
}
.section2 h2{
    background: linear-gradient(to right bottom, rgb(235, 199, 199) , rgb(219, 56, 56));
    border: 2px solid black;
    border-radius: 0.2rem;
}
.totalScore{
    font-size: 4rem;
    color: rgb(219, 56, 56);
}
.buttonSection{
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.buttonSection img{
    height: 80px;
    width: 80px;
}
.buttonSection button{
    background: linear-gradient(to right bottom, rgb(224, 170, 170) , rgb(255, 0, 0));
    border-radius: 20px;
    color: white;
}
.activePlayer{
    background: linear-gradient(to right bottom, rgb(235, 199, 199) , rgb(61, 27, 255)); 

}

@media (max-width: 800px) {
    .gameArea {
      width: 100%;
      height: 30rem;
      flex-direction: column;
    }
    .buttonSection{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 290px;
    }
    .buttonSection button{
        font-size: 0.79rem;
    }
    #dice{
        position: relative;
        top: -590px;
        left: 45px;
    }
    .main{
        height: 100vh;
        overflow: hidden;
    }
    .gameArea{
        position: relative;
    }
  }